*{
   padding: 0%;

}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    cursor: url(/Calculadora\ Smples/sword.png) , auto;
}

.containe{
    width: 400px;
    height: 200px;
    background-color: rgb(67, 74, 167);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#result {

    height: 30px;
    display: flex;
    
    
}

#btn {
    padding-top: 10px;
    cursor: pointer;
}